<!DOCTYPE html>
<html ng-app="libraryApp">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> AngularJS Sandbox </title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link rel="stylesheet" type="text/css" href="angular.css" />
    </head>
    <body>
        <nav>
            <a href="#/home" class="btn btn-primary">Page d'accueil</a>
            <a href="#/library" class="btn btn-success">Gestion de la bibliothèque</a>
        </nav>
        <div ng-view>
        </div>
        
        {% for post in myposts %}
        <h2><a href="/post/{{post['permalink']}}">{{post['title']}}</a></h2>
        Posted {{post['date']}} <i>By {{post['author']}}</i><br>
        Comments:
        <a href="/post/{{post['permalink']}}">{{post['comments']|length}}</a>
        <hr>
        {% autoescape false %}
        {{post['body']}}
        {% endautoescape %}
        <p>
        <p>
        <em>Filed Under</em>:
        {% for tag in post.tags %}
            {% if loop.first %}
                <a href="/tag/{{tag}}">{{tag}}</a>
            {% else %}
                , <a href="/tag/{{tag}}">{{tag}}</a>
            {% endif %}
        {% endfor %}
        {% endfor %}
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
		<script src="http://code.angularjs.org/1.2.9/angular-route.js"></script>
		<script src="library.js"></script>
        <script src="script.js"></script>
    </body>
</html>
